<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="pageHeader">
	      <meta http-equiv="X-UA-Compatible" content="IE=edge">
	      <meta charset="utf-8">
	      <title>Symbiot</title>
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      
	      <!-- jQuery -->
	      <script type="text/javascript" th:src="@{js/jQuery/jquery-3.4.1.min.js}"></script>
	      
	      <!-- Bootstrap CSS -->
    	  <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
	      
	      <!-- Bootstrap JS -->
	      <script type="text/javascript" th:src="@{js/bootstrap/bootstrap.min.js}"></script>

	</head>
</html>